:root {
    --display-3-regular-font-family: "Inter", Helvetica;
    --display-3-regular-font-weight: 400;
    --display-3-regular-font-size: 16px;
    --display-3-regular-letter-spacing: 0px;
    --display-3-regular-line-height: 22px;
    --display-3-regular-font-style: normal;
  }